* {
    /* border: 1px solid red; */
    
}

.aboutMain {
    background-color: rgb(245, 245, 245);
    width: 100%;
    border: 1px solid rgba(255, 0, 0, 0);
}

.heading {
    font-size: 24pt;
    padding: 20px;
}

.underLine {
    border-bottom: 10px solid rgb(18, 214, 255);
    width: 100px;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: -12px;
}

.profileSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
}

.profileImage {
    display: block;
    margin: 0 auto;
    border-radius: 100%;
    width: 250px;
    max-width: 250px;
    height: 250px;
    max-height: 250px;
    background-color: rgb(194, 173, 153);
}

.name {
    margin-top: 30px;
    font-size: 20pt;
    color: var(--primary-color);
    text-align: center;
    font-weight: bold;
}

.title {
    font-size: 1.1rem;
    color: rgb(82, 82, 82);
}

.journeySection {
    width: 90%;
    height: max-content;
    background-color: white;
    margin: 40px auto;
    border-radius: 20px;
    padding: 20px;
    border: 0.03rem solid rgb(212, 212, 212);
}

.journeySection > h3 {
    font-size: 20pt;
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 20px;
}

.journeySection p {
    font-size: 1.2rem;
    color: rgb(64, 64, 64);
}

.featureItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 18px;
}

.featureItem > p {
    font-size: 1rem;
    width: 80%;
}

.featureIcon {
    max-width: 35px;
    max-height: 35px;
}

.skillsSection h3 {
    color: var(--primary-color);
    font-size: 20pt;
    margin-bottom: 20px;
}

.skillsSection {
    width: 90%;
    margin: 30px auto;
    /* border: 1px solid red; */
    height: 50vh;
}

.skillsSection ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 24px;
    height: auto;
    width: 100%;
    margin: 0 auto;
}



.skillsSection ul > li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
    align-items: center;
    justify-content: space-around;
    height: 120px;
    width: 100%;
    text-align: center;
    border: 0.03rem solid rgb(212, 212, 212);
}

.skillsSection ul li > p {
    font-weight: bold;
}

.skillsSection ul li > img {
    width: 50px;
    height: 50px;
}

@media (min-width: 900px){
    .aboutMain {
        width: 60vw;
        margin: 10vh auto 10vh auto;
        border-radius: 20px;
    }
}

