:root {
    --primary-color: #005f73;
    --text-color-1: #d8f8ff;
}

.footer {
    background-color: var(--primary-color);
    color: var(--text-color-1);
    padding: 20px;
    font-size: 14px;
    width: 100%;
    height: 100vh;
}

.footerTitle {
    font-size: 24px;
    text-align: center;
    color: white;
    margin: 20px 20px;
}

.footerDescription {
    font-size: 16px;
    padding: 10px 22px;
    margin-bottom: 20px;
}

.getInTouchBtn {
    background: white;
    color: var(--primary-color);
    font-weight: bold;
    padding: 12px 20px;
    width: 90%;
    margin: auto;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}

.footerNavList {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 250px;
    text-align: center;
    padding: 0;
    margin-top: 20px;
}

.footerNavItem {
    list-style-type: none;
    margin: auto;
}

.footerNavLink {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.footerSocialsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

.footerSocial {
    /* Add any needed styles for individual social icon containers */
}

.footerSocialLogo {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.footerCopyrightText {
    text-align: center;
    font-size: 12px;
    color: white;
    margin-top: 60px;
}